.row
  %aside.span4
    %section
      %h1
        = gravatar_for @user
        = @user.name
  .span8
    - if @user.posts.any?
      %h3
        Posts(
        = @user.posts.count
        )
      %ol.posts
        = render @posts
      = will_paginate @posts
